
USE CATALOG {{ q.uc_catalog }};

{% if q.use_view == false %}

DROP TABLE IF EXISTS {{ q.target_table }};

CREATE TABLE IF NOT EXISTS {{ q.target_table }} (
    {{ q.columns_create|join(', ') }}
    );

INSERT INTO {{ q.target_table }} (
    {{ q.columns_insert|join(', \n    ') }}
)
{% elif q.use_view == true and q.alter_view == false  %}

CREATE SCHEMA IF NOT EXISTS cure_deltashare.{client_name};

DROP VIEW IF EXISTS {{ q.target_table }};

CREATE VIEW {{ q.target_table }} AS

{% elif q.use_view == true and q.alter_view == true %}

ALTER VIEW {{ q.target_table }} AS

{% endif %}

SELECT /*+ BROADCAST(wfd_check) 
      SHUFFLE_HASH(hashed_table)   
         */ DISTINCT
    {{ q.columns_select|join(', \n    ') }}

    FROM 
( 
{% if 'VIZIO' in q.oem %}
SELECT viz.* FROM {{ q.uc_catalog }}.{{ q.content_table }} AS viz
    WHERE 
{% if q.use_view == true %}
        viz.session_start_hour >= (current_date - INTERVAL '6' MONTH)
{% elif q.use_view == false %}     
        viz.session_start >= {{ q.ts_start }}
        AND viz.session_start < {{ q.ts_end }}
        AND viz.session_start_hour >= DATE_TRUNC('HOUR', {{ q.ts_start }})
        AND viz.session_start_hour <= DATE_TRUNC('HOUR', {{ q.ts_end }})
{% endif %}

{% if 'ONN' in q.oem and 'VIZIO' in q.oem %}
    UNION
{% endif %}

{% endif %}
{% if 'ONN' in q.oem %}
    SELECT onn.* FROM {{ q.uc_catalog }}.detection_onn.viewing_content_golden AS onn
    WHERE 
{% if q.use_view == true %}
        onn.session_start_hour >= (current_date - INTERVAL '6' MONTH)
{% elif q.use_view == false %}     
        onn.session_start >= {{ q.ts_start }}
        AND onn.session_start < {{ q.ts_end }}
        AND onn.session_start_hour >= DATE_TRUNC('HOUR', {{ q.ts_start }})
        AND onn.session_start_hour <= DATE_TRUNC('HOUR', {{ q.ts_end }})
{% endif %}

{% endif %}
) AS mt
    JOIN prod.detection.tv_populations AS u
        ON mt.fk_tvid = u.fk_tvid
    JOIN prod.detection.populations AS pop
        ON u.fk_population_id = pop.population_id 
        AND pop.population_name = 'opted_in'
{% if q.use_view == true %}
    JOIN ( SELECT DISTINCT * FROM {{ q.hashes_table }} ) AS hashed_table 
        ON mt.tvid = hashed_table.tvid
    JOIN {{ q.uc_catalog }}.customer_reports.wfd_watermark as wfd_check
        ON wfd_check.report_type = 'content'
        AND wfd_check.frequency = 'hourly'
        AND mt.session_start_hour = date_format(wfd_check.start_ts, 'yyyy-MM-dd HH:mm:ss') 
        AND wfd_check.start_ts between (current_date - INTERVAL '6' MONTH) and current_timestamp
{% endif %}     


{% if df.CO_VIEWING_FACTORS in q.columns %}
    LEFT OUTER JOIN prod.demographics.viewing_content_demographics_firehose dmg
        ON mt.fk_tvid = dmg.fk_tvid
        AND mt.session_start = dmg.session_start
{% endif %}

    WHERE
        1=1
    
{% if q.TYPE == rt.CONTENT %}
        AND mt.content_only_condition = FALSE
        AND CASE WHEN '{client_name}' != 'nielsen' AND mt.nielsen_exclusive THEN FALSE ELSE TRUE END
        AND CASE WHEN mt.client_id_not_null != '||' AND mt.client_id_not_null NOT LIKE '%|{client_name}|%' THEN FALSE ELSE TRUE END
        AND CASE WHEN mt.acrb_clients NOT IN ('||', '|ALL|') AND mt.acrb_clients NOT LIKE '%|{client_name}|%' THEN FALSE ELSE TRUE END
        AND CASE WHEN mt.acrb_clients <=> '|ALL|' AND NOT('{app_toggle}' <=> NVL(mt.app_service, '98989898')) THEN FALSE ELSE TRUE END
        AND CASE WHEN {vod_toggle} = FALSE AND mt.vod_station = TRUE THEN FALSE ELSE TRUE END
{% endif %}
    {{ q.custom_clause }}
{% if q.sample_size != False %}
    AND MOD(mt.fk_tvid, 100) < {{q.sample_size}}
{% endif %}
